body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
}
body {
    background-image: url(/CODSOFT/intership/photo-1518655048521-f130df041f66.webp); /
    background-size: cover;
     background-position: center;
  }

header {
    background-color: #f4835d;
    color: #0f0f0f;
    background-image: url(/CODSOFT/intership/Unknown.jpeg);
        padding: 20px;
    text-align: center;
}




section {
    background-image: url(/CODSOFT/intership/photo-1518655048521-f130df041f66.webp);
}

header h1 {
    
    margin: 0;
   
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#skills li {
    padding: 20px;
    border-bottom: 1px solid #070707;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    margin: 20px;
    width: 300px;
}

.project img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

#resume {
    text-align: center;
    padding: 20px;
}

#contact {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #f4835d;
    color: #090808;
    background-image: url(/CODSOFT/intership/Unknown.jpeg);
    text-align: center;
    clear: both;
}